<div id="modal_borrar" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atención</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que quiere borrar el apunte.</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="execute_borrar();" class="btn btn-warning">Borrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var _url = "";
    function show_borrar(url){
       _url = url;
       $('#modal_borrar').modal("show");
    }

    function execute_borrar(){
        $.get(_url, function(res){
            $('#modal_borrar').modal("hide");
            location.reload();
        });
    }
</script>
