{% load static %}
{% load global_tag %}

<!DOCTYPE HTML>
<html>
<head>
<title>Administración de {% brand "title" %}</title>
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link href= "{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{%  static 'favicon.ico' %}" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.date.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
    <script src="{% static 'js/moment.js' %}" ></script>
    <script src="{% static 'js/picker.js' %}" ></script>
    <script src="{% static 'js/picker.date.js' %}" ></script>


  </head>
