{% load static %}
{% load globals_tag %}
{% include 'header_admin.html' %}
<style media="screen">
    body{
      padding: 0px;
      margin: 0px;
      min-height: 100vh;
    }
</style>
<div class="login-page">
  <div class="login-main table table-bordered">
    	 <div class="login-head">
				<h2>FreakMedia</h2>
			</div>

			<div class="login-block">
        {% if form_error %}
          <div  class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
            {% for field, errors in form_error.items %}
              {% for error in errors %}
               <p>{{error}}</p>
              {% endfor %}
            {% endfor %}
            </div>
        {% endif %}
				<form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label for="{{field.name}}">{{ field.label }}</label>
              {{ field|addcss:"form-control" }}
            </div>
          {% endfor %}
					<button id="btn_submit" onclick="on_enviar();" class="btn btn-primary" type="submit">Entra</button>
				</form>

			</div>
    </div>
</div>
{% if redirect %}
<script type="text/javascript">
   setTimeout(function(){ location.href = "{{redirect}}"}, 3000);
</script>

{% else %}
<script type="text/javascript">
  function on_enviar(){
      $('#btn_submit').toggleClass('disabled')
      $(".login-block").prepend($('<div>')
                               .addClass('alert alert-success alert-dismissable')
                               .text("Enviado la petición....."))
  }

</script>
{% endif %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
<script src="{% static 'js/popper.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
